In [1]:
import pandas as pd

dataset = pd.read_csv('kc_house_data.csv', sep = ',')

In [2]:
##cria uma nova coluna no dataset com os dados passados
dataset['size'] = (dataset['bedrooms'] * 20)

In [3]:
##mostra os dados da coluna passada como parametros
dataset['size']

0         60.0
1         60.0
2         40.0
3         80.0
4         60.0
5         80.0
6         60.0
7         60.0
8         60.0
9         60.0
10        60.0
11        40.0
12        60.0
13        60.0
14       100.0
15        80.0
16        60.0
17        80.0
18        40.0
19        60.0
20        80.0
21        60.0
22       100.0
23        40.0
24        60.0
25        60.0
26        60.0
27        60.0
28        60.0
29        80.0
         ...
21583     40.0
21584     60.0
21585     60.0
21586     40.0
21587     60.0
21588     40.0
21589     60.0
21590     80.0
21591     80.0
21592     60.0
21593    100.0
21594     80.0
21595     40.0
21596    100.0
21597     80.0
21598     80.0
21599     80.0
21600    100.0
21601     60.0
21602     60.0
21603     60.0
21604     60.0
21605     80.0
21606     80.0
21607     60.0
21608     60.0
21609     80.0
21610     40.0
21611     60.0
21612     40.0
Name: size, Length: 21613, dtype: float64

In [8]:
##Função que categoriza os tamanhos dos imóveis do dataset
def categoriza(s):
    if s >= 80:
        return 'Big'
    elif s >= 60:
        return 'Medium'
    elif s >= 40:
        return 'Small'
    
##utiliza o método categoriza() para criar uma nova coluna e assim acrescentar esses valores a ela com os
##parametros passados
dataset['cat_size'] = dataset['size'].apply(categoriza)

In [9]:
##mostra os dados da coluna cat_size
dataset['cat_size']

0        Medium
1        Medium
2         Small
3           Big
4        Medium
5           Big
6        Medium
7        Medium
8        Medium
9        Medium
10       Medium
11        Small
12       Medium
13       Medium
14          Big
15          Big
16       Medium
17          Big
18        Small
19       Medium
20          Big
21       Medium
22          Big
23        Small
24       Medium
25       Medium
26       Medium
27       Medium
28       Medium
29          Big
          ...
21583     Small
21584    Medium
21585    Medium
21586     Small
21587    Medium
21588     Small
21589    Medium
21590       Big
21591       Big
21592    Medium
21593       Big
21594       Big
21595     Small
21596       Big
21597       Big
21598       Big
21599       Big
21600       Big
21601    Medium
21602    Medium
21603    Medium
21604    Medium
21605       Big
21606       Big
21607    Medium
21608    Medium
21609       Big
21610     Small
21611    Medium
21612     Small
Name: cat_size, Length: 21613, dtype: object

In [10]:
##mostra as distribuições dos valores da coluna passada como parametro
pd.value_counts(dataset['cat_size'])

Medium    9822
Big       8816
Small     2759
Name: cat_size, dtype: int64

In [11]:
##Removendo Dados do Dataset
##removendo uma coluna inteira do dataset
##axis para referenciar a coluna inteira, e o inplace para que seja efetivcada no dataset
dataset.drop(['cat_size'], axis = 1, inplace = True)

In [12]:
## para apagar as colunas com os valores determinados
## para quantidade de quartos iguais a 0
dataset.drop(dataset[dataset.bedrooms == 0].index, inplace = True)